*.csv
.DS_Store
*.zip
25-ward-model-december-2018-wgs84-latitude-longitude
*.shp
Address_Points
Address_Points.cpg
Address_Points.dbf 
Address_Points.prj 
Address_Points.shp 
Address_Points.shx
WARD.*
environment_mac.yml